<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>ZenTS Example</title>    
    <meta name="viewport" content="width=device-width, initial-scale=1" />    
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <style>
        .logo {
            margin-top: 2.5rem;
            margin-bottom: 8rem;
        }

        h2 {
            margin-bottom: 1.25rem;
        }

        .description {
            margin-bottom: 5.5rem;
        }

        a, 
        a:visited {
            color: #6970e8;
        }

        a:hover, 
        a:active {
            color: #4148c0;
        }

        footer {
            font-size: 0.75em;
            margin-top: 2.85rem;
        }
    </style>
  </head>
  <body>
    <main>     
      <section>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
              <div class="text-center">
                <img class="logo" src="/public/img/logo.png" alt="ZenTS" />
                <h2>Welcome to your ZenTS app!</h2>
                <p class="description">
                  {{ greetings }}!
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>      
    </main>     
    <footer class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                ZenTS is licenced under the MIT License. 
                <br />
                Now: {{ now }}
            </div>
        </div>
    </footer>
  </body>
</html>
